<div class="col-lg-8">

<div class="jumbotron">
	<h1>Update Post</h1>
</div>


<form ng-submit="updatePost(post)" ng-model="editPost">
	<div class="form-group">
		<label>Title</label>
		<input type="text" class="form-control" ng-model="editPost.title" required/>
	</div>

	<div class="form-group">
		<label>Author</label>
		<input type="text" class="form-control" ng-model="editPost._user.name" required />
	</div>

	<div class="form-group">
		<label>Body</label>
		<textarea type="text" class="form-control" ng-model="editPost.body" required /></textarea>
	</div>

	<div class="form-group">
	<input type="submit" value="Update">
	</div>
</form>


</div>